@import url(/russian-travel/vendor/normalize.css);
@import url(/russian-travel/vendor/fonts.css);

:root {
    --background-color: #2A2C2F;;
    --text-color: #FFFFFF;
  }

.page {
    background-color: var(--background-color);
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    min-width: 1280px;
}

.main {
    margin: 0 auto;
    display: block;
}

.header {
    margin: 0 auto 56px;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    
}

.header__lang-links {
    display: flex;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    
}

.header__lang-link {
    font-size: 24px;
    text-decoration: none;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    
}

.header__lang-link:first-child {
    margin-right: 18px;
}

.header__lang-link_active {
    text-decoration: underline;
}

.header__logo {
    
    margin: 28px 48px 0;
    width: 176px;
    height: 52px;
}

.lead {
    margin: 0 auto;
    max-width: 985px;
}

.lead__title {
    font-size: 96px;
    text-align: center;
    line-height: 104%;
    color: var(--text-color);
    margin: 0 auto;
    padding: 0;
    max-width: 620px;
    
}

.lead__subtitle {
    color: var(--text-color);
    font-style: normal;
    max-width: 50%;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin: 32px auto 64px;
    padding: 0;
}

.lead__caption {
    padding: 0;
    margin: 8px auto 0;
    text-transform: uppercase;
    color: var(--text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.15em;
}

.intro {
    margin: 92px auto 0 auto;
    max-width: 985px;
}

.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    text-align:
}

.intro__text {
    max-width: 690px;
    padding: 0;
    margin: 40px 0 33px 0;
    color: var(--text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    list-style: none;
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.intro__list-item_bold {
    font-weight: bold;
    
}